
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
  .media-body {
    text-align: center;
  }
  
  .media-body p{
    text-align: justify;
  }

  .sub{
      width: 100%;
      margin: 0 auto;
      background-color: #0b0c10;
      color: #fff;
      z-index: -1;
      padding-bottom: 10px;
  }

  .image{
    background-color: #0b0c10; 
    border-color: #0b0c10;
  }

  .heading{
      color: #ffdd40;
      font-family: 'Montserrat', sans-serif;
  }

  .text{
    font-family: sans-serif;
  }

  .browse-button{
    background-color: #0b0c10;
    color: #ffdd40;
    border-color: #ffdd40;
  }