@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
.swc{
    cursor: auto;
    color: aliceblue;
    position:relative;
    margin:0 5px 0 10px;
    display:inline-block;
    height:66px;
    padding: 0 35px 0 20px;
       font-size: 25px;
    line-height:65px;
       font-weight: 100;
       margin: 20px 25px;
       background:#7C99AC;
       transition: background 0.3s;
   }
   
   .swc:after{
    position:absolute;
    content:"";
    right:-19px;
    width: 1px;
    height:0px;
    border-left:18px solid #7C99AC;
    border-top:  33px solid transparent;
    border-bottom: 33px solid transparent;
       transition: border 0.3s;
   }
   
   .container {
    width: 80%;
    margin: 0 auto;
    background-color: #eff2f5;
  }

  .lesson_body{
    font-family: 'Pacifico', cursive;
    width: 95%;
    margin: 0 auto;
  }

  .lessonTitle{
    width: 80%;
    font-family: 'Cinzel', serif;
  }

  .editBox{
    font-family: 'Pacifico', cursive;
    margin: 0 auto;
    margin-left: 4%;
    margin-right: auto;
    margin-top: 10px;
    width: 90%;
  }