.newLesson {
    width: 80%;
    margin: 0 auto;
  }
  
  .newLessonTitle {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
  }
  
  .newLessonForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .newLessonForm > label {
    margin: 10px 0;
  }
  
  .newLessonInput {
    padding: 10px;
    background-color: white;
    border: 3px solid #555;
    border-radius: 5px;
    width: 95%;
  }
  
  .newLessonInput:focus {
    outline: none;
  }
  
  .newLessonButton {
    width: 20%;
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    display: table;
    margin: 0 auto;
  }
  
  .newLessonButton:disabled{
    cursor: not-allowed;
    background-color: rgb(247, 168, 140);
  }
  
  .newLessonRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
  }