@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginTitle {
  font-size: 50px;
  color: #ffdd40;
  font-family: 'Montserrat', sans-serif;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #0b0c10;
  padding: 2% 5% 3% 5%;
  border-radius: 5%;
}

.loginForm > label {
  margin: 10px 0;
  color: #ffdd40;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  font-family: sans-serif;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.loginButton:disabled{
  cursor: not-allowed;
  background-color: rgb(247, 168, 140);
}

.registerbtn{
  width: 100%;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.yellow{
  color: #ffdd40;
  text-align: center;
  margin-top: 15px;
}