.header {
    padding-top: 60px;
    background-image: linear-gradient(to bottom, #b6b6b6, #fbfbfb);
  }
  
  .headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #444;
  }
  
  .headerTitleSm {
    position: absolute;
    top: 28%;
    font-size: 20px;
  }
  
  .headerTitleLg {
    position: absolute;
    top: 10%;
    font-size: 100px;
  }
  
  .headerImg {
    width: 100%;
    height: 450px;
    margin-top: 80px;
  }